.section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #DBEFFF;
    box-shadow: 0px 4px 6px #00000029;
    color: #222222;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: bold;
   height: 55px;
    margin-top: 24px;
     align-items: center;
}

.section-title{
   
    padding-left: 15px;
   
}
.arrow{
    width: 50px;
     border-left: 1px groove #9969d1;
}


.edu-qualification , .pro-qualification, .acc-type{
    padding: 24px 24px 5px 24px ;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 2px;
}

.field{
    width: 50%;
    margin-bottom: 40px;
}

.field1{
    width: 50%;
    margin-bottom: 40px;
}
.field-name{
    text-align: left;
    font-family:  Quicksand;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #666666;
    margin-bottom: 12px;
}
.field input{

    border: none;
    outline: none;
    border-bottom:  1px solid #000000;
    width: 50%;
   
    font-family:  Quicksand;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #222222;
    padding-bottom: 5px;
}

.input-group-1 {
   margin-top: 24px;
    padding-bottom: 10px;
    outline: none;

}

.input-group-1 label {
  /* width: 30%; */
}

.input-group-1 select {
   
    width: 10em;
    border:none;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: bold;
    font: normal normal medium 16px/20px Quicksand;
    letter-spacing: 0px;
    color: #000000;
    border-bottom:  1px solid #000000;
  outline: none;
}


.q-group {
        display: inline-flex;
        flex-wrap:wrap;
        gap: 5%;
}

.q-group .input-group-1 select{
    width: 100%;
}

.q-group .input-group-1{
    width: 45%;
}

.acc-type{
    margin-bottom: 3px;
}
span{
    display: flex;
}
span label{
   
    font-family:  Quicksand;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #222222;
}
.acc-type .field{
    width: 30%;
}
span input{
   width: auto;
     border-bottom: none;
 
}
.field1 label{
    line-height: 35px;
    font-family:  Quicksand;
    font-size: 16px;
    font-weight: bold;
letter-spacing: 0px;
color: #222222;
}

.hide{
    display: none;
}
ng-show{
    display: none;
}