<div class="container">
    <div class="heading">
       
      <div>  Log in </div>
    </div>


    <div class="username">
        
        <input type="text" name="username" id="username" required placeholder="Username/Email ID*">
        <span > forgot username?</span>
    </div>
    <div class="password">
        <input type="password" name="password" id="password" required placeholder="Password">
        <img src="../../../assets/icons/preview.svg " alt="eye" class="eye">
        <span >forgot password?</span> 
    </div>



    <div class="remember">
        <input type="checkbox" name="Remember" id="mee">
        <label for="mee">Remember Me</label>
    </div>
    <div class="login">
       <button class="button" value="LOG IN">LOG IN</button>
    </div>

</div>
<div class="about">About us | Contact Us</div>
