
<form>

<div class="field">
    <div class="field-name">First Name *</div>
    <input type="text" name="f-name" id="f-name">
</div>

<div class="field">
    <div class="field-name">Last Name *</div>
    <input type="text" name="l-name" id="l-name">
</div>

<div class="field">
    <div class="field-name">Email *</div>
    <input type="email" name="Email" id="Email">
</div>

<div class="field">
    <div class="field-name">Phone Number*</div>
    <input type="number" name="ph-no" id="ph-no">
</div>

<div class="field">
   
    <input type="file" class="resume" id="resume" style="border: none;">
</div>




<div class="field">
    <div class="field-name">Enter Portfolio URL (if any)</div>
    <input type="text" name="f-name" id="f-name">
</div>

<div class="field1">
    <div class="field-name">Preferred Job Roles*</div>
    
    <input type="checkbox" id="role1" name="role1" value="role1">
    <label for="role1"> Instructional Designer</label><br>
    <input type="checkbox" id="role2" name="role2" value="role2">
    <label for="role2">Software Engineer </label><br>
    <input type="checkbox" id="role3" name="role3" value="role3">
    <label for="role3"> Software Quality Engineer</label><br>
</div>


<div class="field">
    <div class="field-name">If You Are Registering Via A Referral, Please Mention Full Name Of The Employee Who Referred You)</div>
    <input type="text" name="Referral" id="Referral">
</div>


<div class="field1">
  
    <input type="checkbox" id="r" name="r" value="Boat">
    <label for="r"> Send me job related updates via mail</label><br>
</div>
</form>